**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction:**

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives:**
1. List popular languages for Data Science
2. Create a markdown cell to list 
3. Create markdown cell with title
4. Create a markdown cell to list data science libraries

**Exercise 4 - Create a markdown cell to list data science languages**

some of the popular languages that Data Scientists use are:
|No#|**Data Science Languages**|
|---|---|
|1|**Python**|
|2|**R**|
|3|**Java**|
|4|**Scala**|
|5|**SQL**|

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:

|No#|**ordered list**|
|--|--|
|1|**Numpy**|
|2|**Pandas**|
|3|**Matplotlib**|
|4|**Seaborn**|
|5|**Scikit-Learn**|

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

the table should indicate three development environment open source tools used in data science.

|**Data Science Tools**|
|--|
|Watson Studio|
|H2O Driverless AI|
|Apache AirFlow|
|MySQL|
|Git|
|GitLab|
|GitHub|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

Add a line in this cell with H3 style heading with text like:

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8 - Create a code cell to multiply and add numbers**

This a simple arithmetic expression to mutiply then add integers

In [40]:
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

This will convert 200 minutes to hours by diving by 60

In [47]:
200/60

3.3333333333333335

In [51]:
200//60

3

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author 

Mostafa Abdelahman